<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.github.sch3p"
        version   = "1.0.0">

    <name>Simple Converter</name>

    <description>
        N300 course project using PhoneGap
    </description>

    <author href="http://bit.do/sch3p" email="noah.schepers@gmail.com">
        Noah Schepers
    </author>

    <preference name="permissions"                value="none"/>
	
    <preference name="phonegap-version"       value="cli-6.5.0" />

    <icon src="icon.png" />
    <icon src="images\res\mipmap-mdpi\ic_launcher.png" qualifier="mdpi" />
		<icon src="images\res\mipmap-hdpi\ic_launcher.png" qualifier="hdpi" />
		<icon src="images\res\mipmap-xhdpi\ic_launcher.png" qualifier="xhdpi" />
		<icon src="images\res\mipmap-xxhdpi\ic_launcher.png" qualifier="xxhdpi" />
		<icon src="images\res\mipmap-xxxhdpi\ic_launcher.png" qualifier="xxxhdpi" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>

</widget>
